---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    <h2>{{ category[1].title }}</h2>
    <hr />
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}{% continue %}{% endif %}
      <p>
        {{ post.title }}
        {% if post.pdf %}
          [<a href="{{ post.pdf }}">PDF</a>]
        {% elsif post.paperurl %}
          [<a href="{{ post.paperurl }}">PDF</a>]
        {% endif %}
      </p>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <p>
      {{ post.title }}
      {% if post.pdf %}
        [<a href="{{ post.pdf }}">PDF</a>]
      {% elsif post.paperurl %}
        [<a href="{{ post.paperurl }}">PDF</a>]
      {% endif %}
    </p>
  {% endfor %}
{% endif %}
