---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    <h2>{{ category[1].title }}</h2>
    <hr />
    <ul>
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}{% continue %}{% endif %}
      <li>
        {% if post.pdf %}
          <a href="{{ post.pdf }}">{{ post.title }}</a>
        {% elsif post.paperurl %}
          <a href="{{ post.paperurl }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
{% else %}
  <ul>
  {% for post in site.publications reversed %}
    <li>
      {% if post.pdf %}
        <a href="{{ post.pdf }}">{{ post.title }}</a>
      {% elsif post.paperurl %}
        <a href="{{ post.paperurl }}">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
